<!--所有文章-->
<%- include("header") %>
    <div class="container">
        <% if(result.length > 0 ){  %>
            <ul>
                <% result.forEach(function(res){ %>
                <li class="posts">
                    <a href="/articles?id=<%= res._id %> ">
                        <div class="title">
                            <img class="userAvator" src="images/portrait/<%= res.file_name %>">
                            <%- res.title %>
                        </div>
                        <div class="content">
                            <%- res.content %>
                        </div>
                    </a>
                    <div class="author-info clearfix">
                        <p class='author fl'>
                            <span style="color: #ff8300;cursor: pointer;">作者：<%= res.username%></span>
                            <span>评论数：0</span>
                            <span>浏览量：0</span>
                        </p>
                        <p class="fr">
                            <span><%= res.create_time %></span>
                        </p>
                    </div>
                </li>
                <% }) %>
            </ul>
        <% }else{  %>
            <p class="tips">暂时没有文章，快去前往发表吧</p>
        <% } %>
    </div>
<%- include("footer") %>