<!--我的文章-->
<%- include("header") %>
<div class="container">
    <% if(articles.length > 0 ){  %>
    <ul>
        <% articles.forEach(function(article){ %>
        <li class="posts">
            <a href="/articles?userid=<%= article.userid %> ">
                <div class="title">
                    <img class="userAvator" src="images/portrait/<%= article.file_name %>">
                    <%- article.title %>
                </div>
                <div class="content">
                    <%- article.content %>
                </div>
            </a>
            <div class="author-info clearfix">
                <p class='author fl'>
                    <span style="color: #ff8300;cursor: pointer;">作者：<%= article.username%></span>
                    <span>评论数：<%= article.comments_num%></span>
                    <span>浏览量：<%= article.pv || 0 %></span>
                </p>
                <p class="fr">
                    <span><%= article.create_time %></span>
                </p>
            </div>
            <div class="delete-btn" data-index="<%= article._id%>">
                -
            </div>
        </li>
        <% }) %>
    </ul>
    <% }else{  %>
    <p class="tips">暂时没有文章，快去前往发表吧</p>
    <% } %>
</div>
<script>
    $('.delete-btn').click(function () {
        var article_id = $(this).attr('data-index');
        $.ajax({
            url: "/articles/remove",
            data: {
                article_id: article_id
            },
            type: "delete",
            success: function (res) {
                if (res.code === 200) {
                    window.location.reload();
                }
            },
            err: function (err) {
                console.log(err)
            }
        })
    })

</script>
<%- include("footer") %>