<!--我的文章-->
<%- include("header") %>
<div class="container">
    <% if(articles.length > 0 ){  %>
    <ul>
        <% articles.forEach(function(article){ %>
        <li class="posts">
            <a href="/articles?userid=<%= article.userid %> ">
                <div class="title">
                    <img class="userAvator" src="images/portrait/<%= article.file_name %>">
                    <%- article.title %>
                </div>
                <div class="content">
                    <%- article.content %>
                </div>
            </a>
            <div class="author-info clearfix">
                <p class='author fl'>
                    <span style="color: #ff8300;cursor: pointer;">作者：<%= article.username%></span>
                    <span>评论数：0</span>
                    <span>浏览量：0</span>
                </p>
                <p class="fr">
                    <span><%= article.create_time %></span>
                </p>
            </div>
        </li>
        <% }) %>
    </ul>
    <% }else{  %>
    <p class="tips">暂时没有文章，快去前往发表吧</p>
    <% } %>
</div>
<%- include("footer") %>